{% extends 'layout.html' %}

{% block content %}

{% if userInfo %}

<div id="root-page">
    <nav id="nav-menu" style="display: none">
        <div id="nav-menu-profile">
            <img style="margin-top: 8px" id="img-profile" src="{{userInfo.profileURL}}">
            <h3 style="margin: 4px">
                {{userInfo.nickname}}
            </h3>
            <h4 style="margin: 4px">
                {{userInfo.email}}

            </h4>
        </div>
        <li>
            <a href="/">
                <img class="nav-menu-icon" src="/navi_item_home.png"/>
                <span>홈화면</span>
            </a>
        </li>

        <li>
            <a href="/room">
                <img class="nav-menu-icon" src="/navi_item_room.png"/>
                <span>방 생성</span>
            </a>
        </li>

        <li>
            <a href="/search">
                <img class="nav-menu-icon" src="/navi_item_search.png"/>
                <span>방 검색</span>
            </a>
        </li>

        <li>
            <a href="/setting">
                <img class="nav-menu-icon" src="/navi_item_setting.png"/>
                <span>설정</span>
            </a>
        </li>

    </nav>
    <nav id="nav-default-menu">
        <div id="nav-default-menu-profile">
            <img style="margin-top: 8px" id="img-default-profile" src="{{userInfo.profileURL}}">
        </div>
        <img class="nav-menu-icon" src="/navi_item_home.png"/>
        <img class="nav-menu-icon" src="/navi_item_room.png"/>
        <img class="nav-menu-icon" src="/navi_item_search.png"/>
        <img class="nav-menu-icon" src="/navi_item_setting.png"/>

    </nav>
    <main id="main-screen">
        <section id="section-profile-card" class="custom-card-view">
            <h1>내프로필</h1>
            <div style="display: flex">
                <img src="{{userInfo.profileURL}}" style="height: 200px; width: 200px; border-radius: 70%; border: 1px solid darkgrey; margin: 4px " >
                <span>
                    <h2>{{userInfo.nickname}}</h2>
                    <h3>{{userInfo.email}}</h3>
                </span>
            </div>
        </section>
        <section id="section-recommend-room" class="custom-card-view">
            <h1>추천하는 방</h1>
            <div style="height: 500px; overflow: auto">

            </div>
        </section>
        <section id="section-lasted-room">
            <h1>최근에 생성된 방</h1>
            <div style="height: 500px; overflow: auto">

            </div>
        </section>
    </main>

    <aside>

    </aside>
</div>
{% else %}
<div class="index-not-login">
    <div id="go-to-login">
        <h1>Every Square</h1>
        <h3>Opps..</h3>
        <button id="btn-go-to-login-page">로그인하러가기</button>
    </div>
</div>
{% endif %}

{% endblock %}


{% block script %}

<script src="/index.js"></script>
{% endblock %}