{% extends 'layout.html' %}

{% block content %}

{% if userInfo %}
<script>
    const USER_ID = "{{userInfo.id}}";
    const USER_EMAIL = "{{userInfo.email}}";
    const USER_PROFILE_URL = "{{userInfo.profileURL}}";
    const USER_NAME = "{{userInfo.nickname}}";
    const USER_INFO = {
        id: USER_ID,
        email: USER_EMAIL,
        profileURL: USER_PROFILE_URL,
        nickname: USER_NAME
    }
    const ROOM_NAME = "{{roomInfo.roomName}}";
    const ROOM_KEY = "{{roomKey}}";

</script>
<h2>방제목 : {{roomInfo.roomName}}</h2>
<main id="main-screen">
    <section id="section-main">
        <section id="section-video">
            <div id="root-video-grid">
            </div>
        </section>
        <section id="section-chat" style="display: none">
            <ul id="list-chat">
            </ul>
            <div>
                <form id="form-chat-send">
                    <div style="display: flex">
                        <select id="select-send-chat-user">
                            <option class="{{roomKey}}">전체</option>
                        </select>
                        <input style="width: 100%" id="input-send-chat">
                        <button>전송</button>
                    </div>
                </form>
            </div>
        </section>
    </section>
    <footer style="background-color: lightgray; padding: 4px">
        <div style="display: flex">
            <button id="btn-handle-cam" style="border-radius: 70%">
                <div id="btn-video-cam">
                    <i class="material-icons">videocam</i><br>
                    <i>카메라</i>
                </div>
                <div id="btn-video-cam-off" style="display:none;">
                    <i class="material-icons">videocam_off</i><br>
                    <i>카메라 끄기</i>
                </div>
            </button>
            <button id="btn-handle-mic" style="border-radius: 70%">
                <div id="btn-mic">
                    <i class="material-icons">mic</i><br>
                    <i>마이크</i>
                </div>
                <div id="btn-mic-off" style="display:none;">
                    <i class="material-icons">mic_off</i><br>
                    <i>마이크 끄기</i>
                </div>
            </button>
            <button id="btn-handle-present" style="border-radius: 70%">
                <div id="btn-present-to-all">
                    <i class="material-icons present-to-all">present_to_all</i><br>
                    <i>화면공유</i>
                </div>
                <div id="cancel-presentation" style="display:none;">
                    <i class="material-icons">cancel_presentation</i><br>
                    <i>화면공유 종료</i>
                </div>
            </button>
            <button id="btn-handle-message" style="border-radius: 70%">
                <div id="btn-message">
                    <i class="material-icons">messages</i><br>
                    <i>채팅창</i>
                </div>
                <div id="btn-message-off" style="display:none;">
                    <i class="material-icons">speaker_notes_off</i><br>
                    <i>채팅창 닫기</i>
                </div>
            </button>
            <button class="custom-btn-waring" id="btn-exit" style="float: end">
                나가기
            </button>
        </div>
    </footer>

</main>
{% else %}
<div class="index-not-login">
    <div id="go-to-login">
        <h1>Every Square</h1>
        <h3>Opps..</h3>
        <button id="btn-go-to-login-page">로그인하러가기</button>
    </div>
</div>
{% endif %}

{% endblock %}


{% block script %}
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/roominfo.js"></script>
{% endblock %}